

.THIS .Update{
  background-color: #F26925; 
  color: white;
  font-family: 'Futura-Std-Heavy',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.THIS .Delete{
    color: white;
    float: left;
    font-family: 'Futura-Std-Heavy',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.THIS{
    font-family: 'Futura-Std-Heavy',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

